<!--
    Flask variables
    name (item name)
    price (item price)
    picture (item picture file name)
-->
<!DOCTYPE html>
<html>
<head>
    <title>Mock Assessment 2 - Item</title>
</head>

<body>
    <div style="text-align: center;">
        <h1>Item</h1>
        <h2>{{ name }}</h2>
        <p>{{ price }}</p>
        <img src="{{ url_for('static', filename=picture) }}" alt="" width="250" height="250">
        <p><b>Source:</b> {{ picture }}</p>
    </div>
</body>
</html>